n8n-workflows/account-executive/demo-booking-sub-agent.json
{
  "name": "Demo Booking Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=please book a demo with:\n{{ $json.body.name }}\nAt the following time:\n{{ $json.body.timeslot }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are provided with a person who would like to receive a demo of the accountAI product and their preferred time slot. You use your tool to check the calendar's availability and then book the demo in the calendar. Reply with the result."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        -192
      ],
      "id": "f809a17f-8770-4cb5-8940-ea5d31e27317",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        16
      ],
      "id": "6544502d-e388-42a1-aaae-f48952f785f1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ibmmBZMVDXuHPvRX",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get availability in a calendar in Google Calendar -whether the user is available to give a demo from the given start time to end time.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "seyyednavidhejazijouybari@gmail.com",
          "mode": "list",
          "cachedResultName": "seyyednavidhejazijouybari@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -336,
        0
      ],
      "id": "17a5a42f-f2ae-4a09-b1b5-cea490dffb73",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "O7YK3pVDAsn5bEev",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar to represent a demo at a time that is available.",
        "calendar": {
          "__rl": true,
          "value": "seyyednavidhejazijouybari@gmail.com",
          "mode": "list",
          "cachedResultName": "seyyednavidhejazijouybari@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "http://zoom.us/abcdef",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -176,
        0
      ],
      "id": "b2dc76b2-1653-47da-a3a6-0ec468c9e702",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "O7YK3pVDAsn5bEev",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"success\": true,\n\t\"summary\": \"Summarize the outcome here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -32,
        16
      ],
      "id": "faf2a00b-f829-4866-b861-79bfc78047ce",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0787c083-b412-44aa-af9c-96d68c5a92e4",
              "leftValue": "={{ $json.output.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -192
      ],
      "id": "6afade82-9aeb-40bf-b568-f44a6bb26ac2",
      "name": "If"
    },
    {
      "parameters": {
        "userKey": "u25j5ceatut84njhkau3gfxdc25rb3",
        "message": "Success in Booking",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        336,
        -256
      ],
      "id": "1cbaf03b-6cb7-4587-911d-c54775fc3d6f",
      "name": "Push a message",
      "credentials": {
        "pushoverApi": {
          "id": "7gn0K5al9VjZ5sEM",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "u25j5ceatut84njhkau3gfxdc25rb3",
        "message": "Fail in Booking",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        336,
        -96
      ],
      "id": "eb06b8ca-1ec0-46f8-a099-f5eae6a4fb5f",
      "name": "Push a message1",
      "credentials": {
        "pushoverApi": {
          "id": "7gn0K5al9VjZ5sEM",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule",
        "height": 528,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -336
      ],
      "typeVersion": 1,
      "id": "4c66e9c9-71e3-4109-a369-b9b8356933ae",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Report",
        "height": 528,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -336
      ],
      "typeVersion": 1,
      "id": "ce372d95-8e5b-419f-8c34-d97322ed7807",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d5720d18-a027-4ab5-a537-821b105f003b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        -192
      ],
      "id": "13801544-37ad-49d1-b248-94f157816e96",
      "name": "Webhook",
      "webhookId": "d5720d18-a027-4ab5-a537-821b105f003b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('AI Agent').item.json.output.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        -256
      ],
      "id": "a80cb74b-a631-4cf4-aad8-b452906b83c9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('AI Agent').item.json.output.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        -96
      ],
      "id": "1f35a8b1-254e-4b6a-b6ac-38b222398f49",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push a message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d4eb43db-73a8-4f61-995e-55873a06aa49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f941bbad2eb262788d5572a0c3769d7ba119065f3714381f37e26ddd8081c9e2"
  },
  "nodeGroups": [],
  "id": "t3EtDJbb8xxDlRnj",
  "tags": []
}