n8n-workflows/business-development/revops-sub-agent.json
{
  "name": "RevOps Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sales_lead_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Based on the input from the user, you should reply with a structured version of the lead. Your reply will be sent to Pipedrive to create a lead record. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -560,
        -272
      ],
      "id": "3317658d-d388-48f7-a111-7895426c81aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        -96
      ],
      "id": "cd562b87-bbc5-4428-a392-8c46bc6581f5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ibmmBZMVDXuHPvRX",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"The name of the lead\",\n  \"company\": \"The company where they work\",\n  \"role\": \"Their job role\",\n  \"email\": \"Their email address\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -416,
        -96
      ],
      "id": "ab8ebdfc-aad4-40d0-a1ba-1365cf5db2a9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.output.company }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        -208,
        -272
      ],
      "id": "a0387524-fe66-401f-a842-3d685926fe2e",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "VRKbB5jdCL3264p9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('AI Agent').item.json.output.name }}",
        "additionalFields": {
          "emails": {
            "emailProperties": [
              {
                "value": "={{ $('AI Agent').item.json.output.email }}",
                "primary": false,
                "label": "=work"
              }
            ]
          },
          "org_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        16,
        -272
      ],
      "id": "1099efc8-08e6-472b-b52b-bbe981e7c441",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "VRKbB5jdCL3264p9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $('AI Agent').item.json.output.name }}",
        "organization_id": "={{ $('Create an organization').item.json.id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        240,
        -272
      ],
      "id": "4ecab31d-8085-41ba-85c5-fd2815729d21",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "VRKbB5jdCL3264p9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Parse Data\nUse an Agent with Structured Outputs",
        "height": 464,
        "width": 336,
        "color": "#DEE8ED"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -400
      ],
      "typeVersion": 1,
      "id": "19ddf4a1-f382-41f2-b8d4-5f55aeb9cf84",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Load Data\nStore prospect data in Pipedrive",
        "height": 464,
        "width": 752,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -400
      ],
      "typeVersion": 1,
      "id": "293008f0-e7b8-41a7-962a-5167577e5727",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sales_lead_description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        -272
      ],
      "id": "ef47e63d-9df2-476b-a1d3-544de86ae662",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f56efb3-7721-48da-9b68-1ad40f2d777b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f941bbad2eb262788d5572a0c3769d7ba119065f3714381f37e26ddd8081c9e2"
  },
  "nodeGroups": [],
  "id": "VB4quLAs7WJkF4ja",
  "tags": []
}